.box{
	
}

.row {
	display: flex;
}

.file-input{
	min-height: 200px;
	width: 100%;
	background-color: #ccc;
	border: 3px dotted #000;
	text-align: center;
	cursor: pointer;

}

.file-input input {
	opacity: 0;
}

.file-input img {
	max-width: 100%;
}